/*Шапка*/
.header{
    position: fixed;
    left: 0;
    right: 0;
    user-select: none;
    background-color: rgba(22, 22, 23, .8);
    /*filter: blur(1px);*/
    padding: 0 15px;
    z-index: 909;
}
.header__container{
    max-width: 1044px;
    position: relative;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    padding: 0;
    margin: 0 auto;
    z-index: 1000;
}
.header__logo{
    align-self: center;
}
/*Навігація*/
.header__navigation{
    margin-right: auto;
    display: flex;
    align-items: center;
    gap: 20px;
    z-index: 1041;
    padding: 0 calc(8px / 1);
}
.navigation
.navigation>.btn{
    font-size: 14px;
    color: rgba(255, 255, 255, .8);
}
.navigation>.btn:hover{
    color: rgba(255, 255, 255, 1);
}
.navigation>.btn:active{
    color: rgb(229, 229, 229, 1);
}
