.accordion-box{
    border-bottom: 1px solid #d2d2d7;
    padding-bottom:  8px;
    padding-left: 4px;
}
.accordion-box:before{

}

.accordion__header-btn{
    user-select: none;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
}
.accordion__header-title{
    display: inline-flex;
    justify-content: start;
    width: calc(100% - 20px);
}
.accordion__header-arrow{
    position: absolute;
    top: 0;
    right: 4px;
    color: #6e6e73;
    transform: rotate(90deg);
    transition: transform .4s ease-in-out;
}
.accordion__header-arrow.active{
    transform: rotate(270deg);
}

.accordion__input-content{
    height: 0;
    overflow: auto;
    transition: height .4s ease-in-out, padding-top .4s ease-in-out;
}
.accordion__input-content.active{
    padding-top: 8px;
    height: 100%;
}
.filters__list{
    padding-left: 4px;
}
.filters__item{

}
.filters__input{
    display: inline-flex;
    align-items: center;
    width: 15px;
    height: 15px;
    cursor: pointer;
    accent-color: #06c;
}
.filters__input:active, .filters__input:hover{
    background-color: #06c;
}

.filters__label{
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    padding-left: 8px;
    transition: color .3s;
}
.filters__label:hover{
    color: #06c;
}