html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}
::-webkit-scrollbar{
    width: 6px;
}
::-webkit-scrollbar-thumb{
    background-color: rgba(22, 22, 23, 0.8);
    border-radius: 1px;
}
::-webkit-scrollbar-track{
    background-color: #fafafa;
}
a{
    font-size: 14px;
    color: #fff;
    text-decoration: none;
}
p{
    margin: 0;
}
img{
    max-width: 100%
}
body{
    font-family: 'Helvetica', sans-serif;
    font-size: 21px;
    line-height: 1.23;
    color: #1d1d1f;
    background-color: #fafafa;
}
/*Відміна стилів*/
.list-reset{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.container{
    max-width: 1700px;
    padding: 0 5%;
    margin: 0 auto;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
    color: #1d1d1f;
}
h1{
    margin: 0;
    padding: 0;
    font-size: 56px;
    line-height: 1.1;
    /*color: #f5f5f7;*/

}
h2{
    font-size: 48px;
}
h3{
    margin: 0;
    padding: 0;
    font-size: 28px;
    line-height: 1.1;
    /*color: #f5f5f7;*/
}


/*Секції*/
.section{
    padding-top: 20px;
    padding-bottom: 20px;
}


/*Сторінка 404*/
.not-found__section{
    max-width: 598px;
    padding-left: 15px;
    padding-right: 15px;
    height: auto;
    margin: 92px auto 54px auto;
}
@media (max-width: 1068px) {
    .not-found__section{
        max-width: 502px;
    }
}
@media (max-width: 735px) {
    .not-found__section{
        max-width: 402px;
    }
}
.not-found__title{
    font-size: clamp(2rem, 1.636rem + 1.82vw, 3rem);
    margin-bottom: 25px;
}
.not-found__link{
    display: inline-block;
    margin-bottom: 20px;
    background: none;
}
.not-found__link:hover, .not-found__link:active{
    background: none;
    color: #0077ed;
}
.not-found__link:focus{
    box-shadow: none;
}
